<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<Properties>
<Property name="basePath">./logs</Property>
</Properties>
  <Appenders>
    <!-- for file print -->
    <RollingFile name="File" fileName="${basePath}/logprints.log" filePattern="${basePath}/logprints-%d{yyyy-MM-dd}.log">
     <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <SizeBasedTriggeringPolicy size="500" />
          </RollingFile>
  </Appenders>
  <Loggers>
    <!-- configuring for all packages and classes -->
    <Root level="trace">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>